@model IEnumerable<MCC69_App.Models.Regions>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="dataTablesRegion">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.RegionName)
            </th>
        </tr>
    </thead>
    <tbody id="bodyRegion">
    </tbody>
</table>
@section Scripts{ 
    <script src="~/js/Region/Index.js"></script>
    

}
