@using Microsoft.AspNetCore.Http;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>

    <h3>Success Page</h3>
    Welcome @Context.Session.GetString("token")
    <br>
    <a asp-controller="Account" asp-action="logout">Logout</a>

</body>
</html>
